{% extends "base.html" %}{% block content %}
<h1 class="text-center">Edit Genre</h1>

<hr class="mt-5 mb-5" />

<!-- Card element from Material Design for Bootstrap Card element -->
<div class="row">
	<!-- Card -->
	<div class="card col-md-8 offset-md-2">
		<!-- Card body -->
		<div class="card-body">
			<!-- Material form register -->
			<form method="POST" action="{{ url_for('edit_genre', genre_id=genre._id) }}">
				<!-- Material input genre name -->
				<div class="md-form">
					<i class="fa fa-folder-open prefix grey-text"></i>
					<input
						id="genre_name"
						name="genre_name"
						minlength="3"
						maxlength="25"
						type="text"
						value="{{ genre.genre_name }}"
						class="form-control validate"
						required
					/>
					<label for="genre_name" class="font-weight-light">Genre Name</label>
				</div>
				<!-- Submit button -->
				<div class="text-center py-4 mt-3">
					<button class="btn btn-success" type="submit">
						<i class="far fa-edit right"></i>
						Save Genre
					</button>
					<a class="btn btn-danger" href="{{ url_for('manage_genres') }}"><i class="fas fa-times-circle"></i>
						Cancel</a>
				</div>
			</form>
			<!-- Material form register -->
		</div>
		<!-- Card body -->
	</div>
	<!-- Card -->
</div>
{% endblock %}