{% extends "base.html" %}{% block content %}
<h1 class="text-center">Edit Book</h1>

<!-- Card element from Material Design for Bootstrap Card element -->
<div class="row">
	<!-- Card -->
	<div class="card col-md-8 offset-md-2">
		<!-- Card body -->
		<div class="card-body">
			<!-- Material form register -->
			<form method="POST" action="{{ url_for('edit_book', book_id=book._id) }}">
				<!-- Material genre selection-->
				<div class="md-form">
					<select
						id="genre_name"
						name="genre_name"
						class="browser-default md-select custom-select validate"
						required
					>
						<option value="" class="font-weight-light grey">Book Genre</option>
						{% for genre in genres %} {% if genre.genre_name == book.genre_name
						%}
						<option
							class="font-weight-light"
							value="{{ genre.genre_name }}"
							selected
						>
							{{ genre.genre_name }}
						</option>
						{% else %}
						<option class="font-weight-light" value="{{ genre.genre_name }}">
							{{ genre.genre_name }}
						</option>
						{% endif %} {% endfor %}
					</select>
					<label for="genre_name" class="font-weight-light"></label>
				</div>
				<!-- Material input book name -->
				<div class="md-form">
					<i class="fa fa-book prefix grey-text"></i>
					<input
						id="book_name"
						name="book_name"
						minlength="5"
						maxlength="50"
						type="text"
						class="form-control validate"
						value="{{ book.book_name }}"
						required
					/>
					<label for="book_name" class="font-weight-light">Book Name</label>
				</div>
				<!-- Material input book author -->
				<div class="md-form">
					<i class="fa fa-user prefix grey-text"></i>
					<input
						id="book_author"
						name="book_author"
						minlength="5"
						maxlength="50"
						type="text"
						class="form-control validate"
						value="{{ book.book_author }}"
						required
					/>
					<label for="book_author" class="font-weight-light"
						>Name of Author</label>
				</div>
				<!-- Material input book pages -->
				<div class="md-form">
					<i class="fa fa-book-open prefix grey-text"></i>
					<input
						id="book_pages"
						name="book_pages"
						minlength="1"
						maxlength="10"
						type="text"
						class="form-control validate"
						value="{{ book.book_pages }}"
						required
					/>
					<label for="book_pages" class="font-weight-light"
						>Amount of pages</label>
				</div>
				<!-- Material input book link -->
				<div class="md-form">
					<i class="fas fa-external-link-alt  prefix grey-text"></i>
					<input
						id="book_link"
						name="book_link"
						minlength="5"
						maxlength="75"
						type="text"
						class="form-control validate"
                        value="{{ book.book_link }}"
						required
					/>
					<label for="book_link" class="font-weight-light">Link where book can be found</label>
				</div>
				<!-- Material textarea book discription -->
				<div class="md-form">
					<i class="fa fa-pen prefix grey-text"></i>
					<textarea
						class="md-textarea form-control validate"
						id="book_description"
						name="book_description"
						minlength="5"
						maxlength="1000"
						rows="4"
						required
					>
                     {{- book.book_description -}} </textarea>
					<label for="book_description" class="font-weight-light"
						>Your Description of the Book</label>
				</div>
				<!-- Submit and cancel button-->
				<div class="text-center py-4 mt-3">
					<button class="btn btn-success" type="submit">
						Save <i class="fas fa-check right"></i>
					</button>
					<a href="{{ url_for('index') }}" class="btn btn-danger">Cancel
						<i class="fas fa-times-circle right"></i></a>
				</div>
			</form>
			<!-- Material form register -->
		</div>
		<!-- Card body -->
	</div>
	<!-- Card -->
</div>
{% endblock %}