{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-lg-8 col-md-10 mx-auto">
		<div class="post-preview">
			<a href="#">
				<h2 class="post-title">
					Man must explore, and this is exploration at its greatest
				</h2>
				<h3 class="post-subtitle">
					Problems look mighty small from 150 miles up
				</h3>
			</a>
			<p class="post-meta">
				Posted by
				<a href="#">Start Bootstrap</a>
				on September 24, 2019
			</p>
		</div>
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-lg-8 col-md-10 mx-auto">
		<div class="media-body">
			<form action="{{ url_for('search') }}" method="post">
				<div class="row text-center">
					<div class="md-form">
						<i class="fas fa-search prefix grey-text left"></i>
						<input type="text" name="query" id="query" minlength="3" class="validate" required>
						<label for="query"> Search Book</label>
					</div>
					<div>
						<div class="pt-4 px-3">
							<button type="submit" class="btn btn-info btn-sm px-3"><i class="fas fa-search left"></i> Search</button>
							<a href="{{ url_for('index') }}"
								class="btn btn-danger btn-sm px-3"><i class="fas fa-sync-alt left"></i> Reset</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<hr>

<div class="row">
	{% for book in books %}
	<div class="col-lg-8 col-md-10 mx-auto">
		<div class="media">
			<img
				class="d-flex mr-3"
				src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg"
				alt="Generic placeholder image"
			/>
			<div class="media-body">
				<h5 class="mt-0 font-weight-bold">{{ book.book_name }}</h5>
				<strong>Author:</strong> {{ book.book_author}}<br />
				<strong>Genre:</strong> {{ book.genre_name}}<br />
				<strong>Book pages:</strong> {{ book.book_pages}}<br />
				<em>Added by: {{ book.created_by }}</em>
			</div>
		</div>
		<div>
			<div>
				<button
					class="btn btn-primary btn-sm px-3"
					type="button"
					data-toggle="collapse"
					data-target="#example{{ loop.index }}"
					aria-expanded="false"
					aria-controls="collapseExample"
				>
					<i class="fas fa-book-open"></i> Book Description
				</button>
				{% if session.user|lower == book.created_by|lower %}
				<a href="{{ url_for('edit_book', book_id=book._id) }}"
					class="btn btn-success btn-sm"><i class="fas fa-pen"></i> Edit</a>
				<a href="{{ url_for('delete_book', book_id=book._id) }}"
					class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
				{% endif %}
			</div>
			<!-- / Collapse buttons -->

			<!-- Collapsible element -->
			<div class="collapse" id="example{{ loop.index }}">
				<div class="mt-3">{{ book.book_description }}</div>
			</div>
		</div>
		<hr />
	</div>
	{% endfor %}
</div>

{% endblock %}