{% extends "base.html" %}{% block content %}
<div class="row">
	<div class="col-lg-8 col-md-10 mx-auto">
		<div class="post-preview">
			<a href="post.html">
				<h2 class="post-title">
					Man must explore, and this is exploration at its greatest
				</h2>
				<h3 class="post-subtitle">
					Problems look mighty small from 150 miles up
				</h3>
			</a>
			<p class="post-meta">
				Posted by
				<a href="#">Start Bootstrap</a>
				on September 24, 2019
			</p>
		</div>
		<hr />
		<div class="post-preview">
			{% for book in books %} {{ book.book_name }}<br />
			{{ book.book_author}}<br />
			{{ book.genre_name}}<br />
			{{ book.book_pages}}<br />
			{{ book.book_description }}<br />
			{% endfor %}
		</div>
		<hr />
		<div class="media">
			<img
				class="d-flex mr-3"
				src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg"
				alt="Generic placeholder image"
			/>
			<div class="media-body">
				<h5 class="mt-0 font-weight-bold">Media heading</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
				ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
				viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
				Donec lacinia congue felis in faucibus.
			</div>
		</div>
		<div>
			<div>
				<button
					class="btn btn-primary"
					type="button"
					data-toggle="collapse"
					data-target="#collapseExample"
					aria-expanded="false"
					aria-controls="collapseExample"
				>
					Button with data-target
				</button>
			</div>
			<!-- / Collapse buttons -->

			<!-- Collapsible element -->
			<div class="collapse" id="collapseExample">
				<div class="mt-3">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
					terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
					labore wes anderson cred nesciunt sapiente ea proident.
				</div>
			</div>
		</div>

		<hr />
	</div>
</div>
{% endblock %}
