{% extends "base.html" %}{% block content %}

<h1 class="text-center">Login</h1>

<hr class="mt-5 mb-5" />

<div class="row">
	<!-- Card -->
	<div class="card col-md-8 offset-md-2">
		<!-- Card body -->
		<div class="card-body">
			<!-- Material form register -->
			<form method="POST" action="{{ url_for('register') }}">
				<p class="h4 text-center py-4">Sign up</p>
				<!-- Material input text -->
				<div class="md-form">
					<i class="fa fa-user-cog prefix grey-text"></i>
					<input
						id="username"
						name="username"
						type="text"
						class="form-control"
						minlength="5"
						maxlength="15"
						pattern="^[a-zA-Z0-9]{5,15}$"
						required
					/>
					<label for="username" class="font-weight-light">Username</label>
				</div>
				<!-- Material input password -->
				<div class="md-form">
					<i class="fa fa-lock prefix grey-text"></i>
					<input
						type="password"
						id="password"
						name="password"
						class="form-control"
						minlength="5"
						maxlength="15"
						pattern="^[a-zA-Z0-9]{5,15}$"
						required
					/>
					<label for="user_password" class="font-weight-light"
						>Your password</label
					>
				</div>
				<div class="text-center py-4 mt-3">
					<button class="btn btn-unique btn-lg" type="submit">Log In</button>
				</div>
			</form>
			<!-- Material form register -->
		</div>
		<!-- Card body -->
	</div>
	<!-- Card -->
</div>

<div class="row">
	<div class="col-12">
		<p class="text-center">
			New Here? <a href="{{ url_for('register') }}">Register Account!</a>
		</p>
	</div>
</div>

{% endblock %}
